{% extends "layout.html" %}
{% block body %}
    
        <div class="row">
            <div class="col-md-12"><br>
                <h3 style="text-align:center;">Makaleler</h3>
                <hr>
            </div>
            <div class="col-md-12 makaleall">
                    <div class="makalecover">
                            <img src="https://stmed.net/sites/default/files/the-sopranos-wallpapers-31728-4406835.jpg" alt="">
                        </div><hr>
                <h2 class="articletitle">Herkese selam</h2>
                <span><small>12.12.2019</small> <small>Mediumgoal</small></span>

                
                <hr>
            </div>
            
        </div>
        {% if articles %}
                {% for article in articles  %}
                    <div class="row">
                        <div class="col-md-12 makaleall">,
                            <div class="makalecover">
                                <img src="{{article.image.url}}" alt="">
                            </div><hr>
                            <h2 class="articletitle">{{article.title}}</h2>
                            <span><small>{{article.created_date}}</small> <small>{{article.author}}</small></span>

                            <p>{{article.content}}</p>
                            
                            <hr>
                        </div>
                        
                    </div>
                {% endfor %}
        {% else %}
            <div class = "row">
                <center>
                    <div class="alert alert-danger" role="alert">
                        Henüz makale eklenmemiş
                        </div>
                </center>
            </div>
           
        {% endif %}

{% endblock body %} 