<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyBlogApp</title>
    <link href = "{% static 'style.css' %}" rel = "stylesheet">
    <link rel = "stylesheet" href = "{% static 'bootstrap.min.css' %}" >
</head>
<body>
    {% include "includes/navbar.html" %}
    <div class="container">
        {% block body %}
        
        {% endblock body %}
   </div>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    
</body>
</html>